Listen {{ env.VMEDIA_TLS_PORT }}

<VirtualHost *:{{ env.VMEDIA_TLS_PORT }}>
    ErrorLog /dev/stderr
    LogLevel debug
    CustomLog /dev/stdout combined

    SSLEngine on
    SSLProtocol {{ env.IRONIC_VMEDIA_SSL_PROTOCOL }}
    SSLCertificateFile {{ env.IRONIC_VMEDIA_CERT_FILE }}
    SSLCertificateKeyFile {{ env.IRONIC_VMEDIA_KEY_FILE }}

    <Directory ~ "/shared/html">
        Require all denied
    </Directory>
    <Directory ~ "/shared/html/(redfish|ilo)/">
        Require all granted
    </Directory>

    <Location ~ "^/.*">
        SSLRequireSSL
    </Location>

</VirtualHost>

