Listen {{ env.IPXE_TLS_PORT }}

<VirtualHost *:{{ env.IPXE_TLS_PORT }}>
    ErrorLog /dev/stderr
    LogLevel debug
    CustomLog /dev/stdout combined

    SSLEngine on
    SSLProtocol {{ env.IPXE_SSL_PROTOCOL }}
    SSLCertificateFile {{ env.IPXE_CERT_FILE }}
    SSLCertificateKeyFile {{ env.IPXE_KEY_FILE }}

    DocumentRoot "/shared/html"
    <Directory "/shared/html">
        Options Indexes FollowSymLinks
        Require all granted
    </Directory>
    <Directory ~ "/shared/html/(redfish|ilo|images)/">
        Require all denied
    </Directory>

    <Location ~ "^/.*">
        SSLRequireSSL
    </Location>

</VirtualHost>
