Listen {{ env.VMEDIA_TLS_PORT }}

<VirtualHost *:{{ env.VMEDIA_TLS_PORT }}>
    ErrorLog /dev/stderr
    LogLevel debug
    CustomLog /dev/stdout combined

    SSLEngine on
    SSLProtocol {{ env.IRONIC_VMEDIA_SSL_PROTOCOL }}
    SSLCertificateFile {{ env.IRONIC_VMEDIA_CERT_FILE }}
    SSLCertificateKeyFile {{ env.IRONIC_VMEDIA_KEY_FILE }}

    <Directory ~ "/shared/html">
         Order deny,allow
         deny from all
    </Directory>
    <Directory ~ "/shared/html/(redfish|ilo)/">
         Order allow,deny
         allow from all
    </Directory>
</VirtualHost>

<Location ~ "^/(redfish|ilo)/">
    SSLRequireSSL
</Location>
