interface={{ env["PROVISIONING_INTERFACE"] }}
bind-dynamic
enable-tftp
tftp-root=/shared/tftpboot

# Disable listening for DNS
port=0

{%- if env["DHCP_RANGE"]|length %}
log-dhcp
dhcp-range={{ env["DHCP_RANGE"] }}

# Disable default router(s) and DNS over provisioning network
dhcp-option=3
dhcp-option=6

{%- if env["IPV"] == "4" or env["IPV"] is undefined %}
# IPv4 Configuration:

# Note: Need to test EFI booting
dhcp-match=set:efi,option:client-arch,7
dhcp-match=set:efi,option:client-arch,9
dhcp-match=set:efi,option:client-arch,11

dhcp-boot=/BOOTX64.EFI,{{ env["IRONIC_IP"] }}
{% endif %}

{% if env["IPV"] == "6" %}
# IPv6 Configuration:
enable-ra
ra-param={{ env["PROVISIONING_INTERFACE"] }},10

dhcp-vendorclass=set:pxe6,enterprise:343,PXEClient
dhcp-option=tag:pxe6,option6:bootfile-url,tftp://{{ env["IRONIC_URL_HOST"] }}/BOOTX64.EFI

# Disable default router(s) and DNS over provisioning network
dhcp-option=3
dhcp-option=6
{% endif %}
{% endif %}
