Listen [::]:{{ env["HTTP_PORT"] }}

<VirtualHost *:{{ env["HTTP_PORT"] }}>

    ErrorLog "/dev/stderr"
    CustomLog "/dev/stderr" combined

    DocumentRoot "/shared/html"
    <Directory "/shared">
        AllowOverride None
        Require all granted
    </Directory>

    <Directory "/shared/html">
        Options Indexes FollowSymLinks
        AllowOverride None
        Require all granted
    </Directory>

</VirtualHost>