[Unit]
Description=OpenShift Ironic API service
After=syslog.target network.target

[Service]
Type=simple
User=ironic
ExecStart=/usr/bin/ironic-api
Restart=on-failure

[Install]
WantedBy=multi-user.target
