name: build-images-action
on:
  push:
    branches:
      - main
      - 'release-*'
permissions: {}
jobs:
  build:
    name: Build container images
    runs-on: ubuntu-latest
    if: github.repository == 'metal3-io/ironic-image'
    permissions:
      contents: read
    steps:
      - name: build ironic image
        uses: toptal/jenkins-job-trigger-action@137fff703dd260b52b53d3ba1960396415abc568 # 1.0.2
        with:
          jenkins_url: "https://jenkins.nordix.org/"
          jenkins_user: "metal3.bot@gmail.com"
          jenkins_token: ${{ secrets.JENKINS_TOKEN }}
          job_name: "metal3_ironic_container_image_building"
          job_params: |
            {
              "BUILD_CONTAINER_IMAGE_NAME": "ironic",
              "BUILD_CONTAINER_IMAGE_BRANCH": "${{ github.ref }}"
            }
          job_timeout: "1000"
      - name: build sushy-tools image
        uses: toptal/jenkins-job-trigger-action@137fff703dd260b52b53d3ba1960396415abc568 # 1.0.2
        with:
          jenkins_url: "https://jenkins.nordix.org/"
          jenkins_user: "metal3.bot@gmail.com"
          jenkins_token: ${{ secrets.JENKINS_TOKEN }}
          job_name: "metal3_sushy-tools_container_image_building"
          job_params: |
            {
              "BUILD_CONTAINER_IMAGE_NAME": "sushy-tools",
              "BUILD_CONTAINER_IMAGE_BRANCH": "${{ github.ref }}"
            }
          job_timeout: "1000"
      - name: build vbmc image
        uses: toptal/jenkins-job-trigger-action@137fff703dd260b52b53d3ba1960396415abc568 # 1.0.2
        with:
          jenkins_url: "https://jenkins.nordix.org/"
          jenkins_user: "metal3.bot@gmail.com"
          jenkins_token: ${{ secrets.JENKINS_TOKEN }}
          job_name: "metal3_vbmc_container_image_building"
          job_params: |
            {
              "BUILD_CONTAINER_IMAGE_NAME": "vbmc",
              "BUILD_CONTAINER_IMAGE_BRANCH": "${{ github.ref }}"
            }
          job_timeout: "1000"
